[Unit]
Description=NambiBot Discord Bot (User service)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/%u/nambibot
EnvironmentFile=-/home/%u/nambibot/.env
ExecStart=/home/%u/.bun/bin/bun run /home/%u/nambibot/index.js

Restart=on-failure
RestartSec=5s

SyslogIdentifier=nambibot

[Install]
WantedBy=default.target
